{% extends 'base.html.twig' %}

{% block title 'Voir tous nos biens' %}

{% block body %}
    
    <div class="container-fluid mt-4">  
            
            <h2> Voir tous nos biens </h2>

    </div>

{% endblock%}